resources/csv/*.csv
!src/csv
memo/
practice/
.idea/
library-management.iml
out/
*.class
.class
# Ignore Gradle project-specific cache directory
.gradle
.csv
# Ignore Gradle build output directory
# build
/build/
bin/